*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #083b4c;
}
h1{
    text-align: center;
    color: white;
    font-size: 5rem;
    margin-top: 2rem;
}
.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:2rem
   
}

.boxes_container{
    width:60%;
    margin: 5rem auto;
}

.box{
    background-color:#1389b2;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 700;
    width: 100px;
    height: 100px;
    


}



.box-3{
    background-color: #0bd6a1;
    
}
.box-5{
background-color: #ffd166;}
.box-3-5{
    background-color: #f0466f;
}